[core]
autocrlf = input
editor = hx
pager = delta

[credential]
helper = store

[push]
default = simple

[submodule]
recurse = true
fetchJobs = 0

[delta]
navigate = true
light = false
theme = OneHalfDark
line-numbers = true
side-by-side = true
hyperlinks = true
hyperlinks-file-link-format = "file-line://{path}:{line}"

[diff]
colorMoved = default

[interactive]
diffFilter = delta --color-only

[merge]
conflictstyle = diff3

[user]
useConfigOnly = true

[include]
path = ~/.gitconfig.local

[init]
defaultBranch = main
