config:
  backup: false
  banner: false
  create: true
  dotpath: dotfiles
  keepdot: false
  link_dotfile_default: nolink
  link_on_import: nolink
  longkey: false

dotfiles:
  # == ~/ ==
  d_gnupg:
    dst: ~/.gnupg
    src: .gnupg
  d_ipython:
    dst: ~/.ipython
    src: .ipython
  d_jupyter:
    dst: ~/.jupyter
    src: .jupyter
  d_scripts:
    dst: ~/.scripts
    src: ../scripts
  d_ssh:
    dst: ~/.ssh
    src: .ssh
  f_gitconfig:
    dst: ~/.gitconfig
    src: .gitconfig

  # == ~/.config ==
  d_bat:
    dst: ~/.config/bat
    src: .config/bat
  d_bottom:
    dst: ~/.config/bottom
    src: .config/bottom
  d_delta:
    dst: ~/.config/delta
    src: .config/delta
  d_fastfetch:
    dst: ~/.config/fastfetch
    src: .config/fastfetch
  d_fish:
    dst: ~/.config/fish
    src: .config/fish
  d_ghostty:
    dst: ~/.config/ghostty
    src: .config/ghostty
  d_helix:
    dst: ~/.config/helix
    src: .config/helix
  d_k9s:
    dst: ~/.config/k9s
    src: .config/k9s
  d_karabiner:
    dst: ~/.config/karabiner
    src: .config/karabiner
  d_lazygit:
    dst: ~/.config/lazygit
    src: .config/lazygit
  d_rectangle:
    dst: ~/.config/rectangle
    src: .config/rectangle
  d_spicitify:
    dst: ~/.config/spicetify
    src: .config/spicetify
  d_stylus:
    dst: ~/.config/stylus
    src: .config/stylus
  d_yazi:
    dst: ~/.config/yazi
    src: .config/yazi
  d_zed:
    dst: ~/.config/zed
    src: .config/zed
  d_zellij:
    dst: ~/.config/zellij
    src: .config/zellij
  d_zen:
    dst: ~/.config/zen
    src: .config/zen
  f_starship:
    dst: ~/.config/starship.toml
    src: .config/starship.toml

  # == ~/Library/Application Support ==
  d_macos_vscode:
    dst: ~/Library/Application Support/Code/User
    src: vscode

profiles:
  default:
    dotfiles:
      - d_bat
      - d_bottom
      - d_delta
      - d_fastfetch
      - d_fish
      - d_ghostty
      - d_gnupg
      - d_helix
      - d_ipython
      - d_jupyter
      - d_k9s
      - d_lazygit
      - d_karabiner
      - d_rectangle
      - d_scripts
      - d_ssh
      - d_spicitify
      - d_stylus
      - d_yazi
      - d_zed
      - d_zellij
      - d_zen
      - f_gitconfig
      - f_starship

  macos:
    dotfiles:
      - d_macos_vscode
