/* Catppuccin Latte Sapphire + Macchiato Sapphire userChrome.css*/

/* Catppuccin Latte Sapphire userChrome.css*/

@media (prefers-color-scheme: light) {
  :root {
    --zen-colors-primary: #ccd0da !important;
    --zen-primary-color: #209fb5 !important;
    --zen-colors-secondary: #ccd0da !important;
    --zen-colors-tertiary: #e6e9ef !important;
    --zen-colors-border: #209fb5 !important;
    --toolbarbutton-icon-fill: #209fb5 !important;
    --lwt-text-color: #4c4f69 !important;
    --toolbar-field-color: #4c4f69 !important;
    --tab-selected-textcolor: rgb(54, 119, 143) !important;
    --toolbar-field-focus-color: #4c4f69 !important;
    --toolbar-color: #4c4f69 !important;
    --newtab-text-primary-color: #4c4f69 !important;
    --arrowpanel-color: #4c4f69 !important;
    --arrowpanel-background: #eff1f5 !important;
    --sidebar-text-color: #4c4f69 !important;
    --lwt-sidebar-text-color: #4c4f69 !important;
    --lwt-sidebar-background-color: #dce0e8 !important;
    --toolbar-bgcolor: #ccd0da !important;
    --newtab-background-color: #eff1f5 !important;
    --zen-themed-toolbar-bg: #e6e9ef !important;
    --zen-main-browser-background: #e6e9ef !important;
    --toolbox-bgcolor-inactive: #e6e9ef !important;
  }

  #permissions-granted-icon {
    color: #e6e9ef !important;
  }

  .sidebar-placesTree {
    background-color: #eff1f5 !important;
  }

  #zen-workspaces-button {
    background-color: #eff1f5 !important;
  }

  #TabsToolbar {
    background-color: #e6e9ef !important;
  }

  .urlbar-background {
    background-color: #eff1f5 !important;
  }

  .content-shortcuts {
    background-color: #eff1f5 !important;
    border-color: #209fb5 !important;
  }

  .urlbarView-url {
    color: #209fb5 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #dce0e8 !important;
  }

  #zen-media-controls-toolbar {
    & #zen-media-progress-bar {
      &::-moz-range-track {
        background: #ccd0da !important;
      }
    }
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {

      &:is([open], [checked])> :is(.toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack) {
        fill: #dce0e8;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #1e66f5 !important;
    --identity-icon-color: #1e66f5 !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #179299 !important;
    --identity-icon-color: #179299 !important;
  }

  .identity-color-green {
    --identity-tab-color: #40a02b !important;
    --identity-icon-color: #40a02b !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #df8e1d !important;
    --identity-icon-color: #df8e1d !important;
  }

  .identity-color-orange {
    --identity-tab-color: #fe640b !important;
    --identity-icon-color: #fe640b !important;
  }

  .identity-color-red {
    --identity-tab-color: #d20f39 !important;
    --identity-icon-color: #d20f39 !important;
  }

  .identity-color-pink {
    --identity-tab-color: #ea76cb !important;
    --identity-icon-color: #ea76cb !important;
  }

  .identity-color-purple {
    --identity-tab-color: #8839ef !important;
    --identity-icon-color: #8839ef !important;
  }

  hbox#titlebar {
    background-color: #e6e9ef !important;
  }

  #zen-appcontent-navbar-container {
    background-color: #e6e9ef !important;
  }
}


/* Catppuccin Macchiato Sapphire userChrome.css*/

@media (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: #363a4f !important;
    --zen-primary-color: #7dc4e4 !important;
    --zen-colors-secondary: #363a4f !important;
    --zen-colors-tertiary: #1e2030 !important;
    --zen-colors-border: #7dc4e4 !important;
    --toolbarbutton-icon-fill: #7dc4e4 !important;
    --lwt-text-color: #cad3f5 !important;
    --toolbar-field-color: #cad3f5 !important;
    --tab-selected-textcolor: rgb(164, 203, 236) !important;
    --toolbar-field-focus-color: #cad3f5 !important;
    --toolbar-color: #cad3f5 !important;
    --newtab-text-primary-color: #cad3f5 !important;
    --arrowpanel-color: #cad3f5 !important;
    --arrowpanel-background: #24273a !important;
    --sidebar-text-color: #cad3f5 !important;
    --lwt-sidebar-text-color: #cad3f5 !important;
    --lwt-sidebar-background-color: #181926 !important;
    --toolbar-bgcolor: #363a4f !important;
    --newtab-background-color: #24273a !important;
    --zen-themed-toolbar-bg: #1e2030 !important;
    --zen-main-browser-background: #1e2030 !important;
    --toolbox-bgcolor-inactive: #1e2030 !important;
  }

  #permissions-granted-icon {
    color: #1e2030 !important;
  }

  .sidebar-placesTree {
    background-color: #24273a !important;
  }

  #zen-workspaces-button {
    background-color: #24273a !important;
  }

  #TabsToolbar {
    background-color: #1e2030 !important;
  }

  .urlbar-background {
    background-color: #24273a !important;
  }

  .content-shortcuts {
    background-color: #24273a !important;
    border-color: #7dc4e4 !important;
  }

  .urlbarView-url {
    color: #7dc4e4 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #181926 !important;
  }

  #zen-media-controls-toolbar {
    & #zen-media-progress-bar {
      &::-moz-range-track {
        background: #363a4f !important;
      }
    }
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {

      &:is([open], [checked])> :is(.toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack) {
        fill: #181926;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #8aadf4 !important;
    --identity-icon-color: #8aadf4 !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #8bd5ca !important;
    --identity-icon-color: #8bd5ca !important;
  }

  .identity-color-green {
    --identity-tab-color: #a6da95 !important;
    --identity-icon-color: #a6da95 !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #eed49f !important;
    --identity-icon-color: #eed49f !important;
  }

  .identity-color-orange {
    --identity-tab-color: #f5a97f !important;
    --identity-icon-color: #f5a97f !important;
  }

  .identity-color-red {
    --identity-tab-color: #ed8796 !important;
    --identity-icon-color: #ed8796 !important;
  }

  .identity-color-pink {
    --identity-tab-color: #f5bde6 !important;
    --identity-icon-color: #f5bde6 !important;
  }

  .identity-color-purple {
    --identity-tab-color: #c6a0f6 !important;
    --identity-icon-color: #c6a0f6 !important;
  }

  hbox#titlebar {
    background-color: #1e2030 !important;
  }

  #zen-appcontent-navbar-container {
    background-color: #1e2030 !important;
  }
}
