/* Catppuccin Latte Red + Macchiato Red userContent.css*/

/* Catppuccin Latte Red userContent.css*/

@media (prefers-color-scheme: light) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #4c4f69 !important;
      --color-accent-primary: #d20f39 !important;
      --color-accent-primary-hover: rgb(235, 17, 64) !important;
      --color-accent-primary-active: rgb(211, 22, 15) !important;
      background-color: #eff1f5 !important;
      --in-content-page-background: #eff1f5 !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #eff1f5 !important;
      --newtab-background-color-secondary: #ccd0da !important;
      --newtab-element-hover-color: #ccd0da !important;
      --newtab-text-primary-color: #4c4f69 !important;
      --newtab-wordmark-color: #4c4f69 !important;
      --newtab-primary-action-background: #d20f39 !important;
    }

    .icon {
      color: #d20f39 !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-latte.svg"), url("https://raw.githubusercontent.com/IAmJafeth/zen-browser/main/themes/Latte/Red/zen-logo-latte.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #d20f39 !important;
    }

    .top-site-outer .search-topsite {
      background-color: #1e66f5 !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #40a02b !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #e6e9ef !important;
      --in-content-text-color: #4c4f69 !important;
      --link-color: #d20f39 !important;
      --link-color-hover: rgb(235, 17, 64) !important;
      --zen-colors-primary: #ccd0da !important;
      --in-content-box-background: #ccd0da !important;
      --zen-primary-color: #d20f39 !important;
    }

    groupbox,
    moz-card {
      background: #eff1f5 !important;
    }

    button,
    groupbox menulist {
      background: #ccd0da !important;
      color: #4c4f69 !important;
    }

    .main-content {
      background-color: #dce0e8 !important;
    }

    .identity-color-blue {
      --identity-tab-color: #8aadf4 !important;
      --identity-icon-color: #8aadf4 !important;
    }

    .identity-color-turquoise {
      --identity-tab-color: #8bd5ca !important;
      --identity-icon-color: #8bd5ca !important;
    }

    .identity-color-green {
      --identity-tab-color: #a6da95 !important;
      --identity-icon-color: #a6da95 !important;
    }

    .identity-color-yellow {
      --identity-tab-color: #eed49f !important;
      --identity-icon-color: #eed49f !important;
    }

    .identity-color-orange {
      --identity-tab-color: #f5a97f !important;
      --identity-icon-color: #f5a97f !important;
    }

    .identity-color-red {
      --identity-tab-color: #ed8796 !important;
      --identity-icon-color: #ed8796 !important;
    }

    .identity-color-pink {
      --identity-tab-color: #f5bde6 !important;
      --identity-icon-color: #f5bde6 !important;
    }

    .identity-color-purple {
      --identity-tab-color: #c6a0f6 !important;
      --identity-icon-color: #c6a0f6 !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #e6e9ef !important;
      --background-color-box: #eff1f5 !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #eff1f5 !important;
      --social-color: #8839ef !important;
      --coockie-color: #04a5e5 !important;
      --fingerprinter-color: #df8e1d !important;
      --cryptominer-color: #7287fd !important;
      --tracker-color: #40a02b !important;
      --in-content-primary-button-background-hover: rgb(203, 206, 215) !important;
      --in-content-primary-button-text-color-hover: #4c4f69 !important;
      --in-content-primary-button-background: #bcc0cc !important;
      --in-content-primary-button-text-color: #4c4f69 !important;
    }


    .card {
      background-color: #ccd0da !important;
    }
  }
}


/* Catppuccin Macchiato Red userContent.css*/

@media (prefers-color-scheme: dark) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #cad3f5 !important;
      --color-accent-primary: #ed8796 !important;
      --color-accent-primary-hover: rgb(240, 158, 170) !important;
      --color-accent-primary-active: rgb(237, 145, 135) !important;
      background-color: #24273a !important;
      --in-content-page-background: #24273a !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #24273a !important;
      --newtab-background-color-secondary: #363a4f !important;
      --newtab-element-hover-color: #363a4f !important;
      --newtab-text-primary-color: #cad3f5 !important;
      --newtab-wordmark-color: #cad3f5 !important;
      --newtab-primary-action-background: #ed8796 !important;
    }

    .icon {
      color: #ed8796 !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-macchiato.svg"), url("https://raw.githubusercontent.com/IAmJafeth/zen-browser/main/themes/Macchiato/Red/zen-logo-macchiato.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #ed8796 !important;
    }

    .top-site-outer .search-topsite {
      background-color: #8aadf4 !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #a6da95 !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #1e2030 !important;
      --in-content-text-color: #cad3f5 !important;
      --link-color: #ed8796 !important;
      --link-color-hover: rgb(240, 158, 170) !important;
      --zen-colors-primary: #363a4f !important;
      --in-content-box-background: #363a4f !important;
      --zen-primary-color: #ed8796 !important;
    }

    groupbox,
    moz-card {
      background: #24273a !important;
    }

    button,
    groupbox menulist {
      background: #363a4f !important;
      color: #cad3f5 !important;
    }

    .main-content {
      background-color: #181926 !important;
    }

    .identity-color-blue {
      --identity-tab-color: #8aadf4 !important;
      --identity-icon-color: #8aadf4 !important;
    }

    .identity-color-turquoise {
      --identity-tab-color: #8bd5ca !important;
      --identity-icon-color: #8bd5ca !important;
    }

    .identity-color-green {
      --identity-tab-color: #a6da95 !important;
      --identity-icon-color: #a6da95 !important;
    }

    .identity-color-yellow {
      --identity-tab-color: #eed49f !important;
      --identity-icon-color: #eed49f !important;
    }

    .identity-color-orange {
      --identity-tab-color: #f5a97f !important;
      --identity-icon-color: #f5a97f !important;
    }

    .identity-color-red {
      --identity-tab-color: #ed8796 !important;
      --identity-icon-color: #ed8796 !important;
    }

    .identity-color-pink {
      --identity-tab-color: #f5bde6 !important;
      --identity-icon-color: #f5bde6 !important;
    }

    .identity-color-purple {
      --identity-tab-color: #c6a0f6 !important;
      --identity-icon-color: #c6a0f6 !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #1e2030 !important;
      --background-color-box: #24273a !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #24273a !important;
      --social-color: #c6a0f6 !important;
      --coockie-color: #91d7e3 !important;
      --fingerprinter-color: #eed49f !important;
      --cryptominer-color: #b7bdf8 !important;
      --tracker-color: #a6da95 !important;
      --in-content-primary-button-background-hover: rgb(84, 89, 116) !important;
      --in-content-primary-button-text-color-hover: #cad3f5 !important;
      --in-content-primary-button-background: #494d64 !important;
      --in-content-primary-button-text-color: #cad3f5 !important;
    }


    .card {
      background-color: #363a4f !important;
    }
  }
}
