/* Catppuccin Latte Mauve + Mocha Mauve userChrome.css*/

/* Catppuccin Latte Mauve userChrome.css*/

@media (prefers-color-scheme: light) {
  :root {
    --zen-colors-primary: #ccd0da !important;
    --zen-primary-color: #8839ef !important;
    --zen-colors-secondary: #ccd0da !important;
    --zen-colors-tertiary: #e6e9ef !important;
    --zen-colors-border: #8839ef !important;
    --toolbarbutton-icon-fill: #8839ef !important;
    --lwt-text-color: #4c4f69 !important;
    --toolbar-field-color: #4c4f69 !important;
    --tab-selected-textcolor: rgb(106, 68, 172) !important;
    --toolbar-field-focus-color: #4c4f69 !important;
    --toolbar-color: #4c4f69 !important;
    --newtab-text-primary-color: #4c4f69 !important;
    --arrowpanel-color: #4c4f69 !important;
    --arrowpanel-background: #eff1f5 !important;
    --sidebar-text-color: #4c4f69 !important;
    --lwt-sidebar-text-color: #4c4f69 !important;
    --lwt-sidebar-background-color: #dce0e8 !important;
    --toolbar-bgcolor: #ccd0da !important;
    --newtab-background-color: #eff1f5 !important;
    --zen-themed-toolbar-bg: #e6e9ef !important;
    --zen-main-browser-background: #e6e9ef !important;
    --toolbox-bgcolor-inactive: #e6e9ef !important;
  }

  #permissions-granted-icon {
    color: #e6e9ef !important;
  }

  .sidebar-placesTree {
    background-color: #eff1f5 !important;
  }

  #zen-workspaces-button {
    background-color: #eff1f5 !important;
  }

  #TabsToolbar {
    background-color: #e6e9ef !important;
  }

  .urlbar-background {
    background-color: #eff1f5 !important;
  }

  .content-shortcuts {
    background-color: #eff1f5 !important;
    border-color: #8839ef !important;
  }

  .urlbarView-url {
    color: #8839ef !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #dce0e8 !important;
  }

  #zen-media-controls-toolbar {
    & #zen-media-progress-bar {
      &::-moz-range-track {
        background: #ccd0da !important;
      }
    }
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {

      &:is([open], [checked])> :is(.toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack) {
        fill: #dce0e8;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #1e66f5 !important;
    --identity-icon-color: #1e66f5 !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #179299 !important;
    --identity-icon-color: #179299 !important;
  }

  .identity-color-green {
    --identity-tab-color: #40a02b !important;
    --identity-icon-color: #40a02b !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #df8e1d !important;
    --identity-icon-color: #df8e1d !important;
  }

  .identity-color-orange {
    --identity-tab-color: #fe640b !important;
    --identity-icon-color: #fe640b !important;
  }

  .identity-color-red {
    --identity-tab-color: #d20f39 !important;
    --identity-icon-color: #d20f39 !important;
  }

  .identity-color-pink {
    --identity-tab-color: #ea76cb !important;
    --identity-icon-color: #ea76cb !important;
  }

  .identity-color-purple {
    --identity-tab-color: #8839ef !important;
    --identity-icon-color: #8839ef !important;
  }

  hbox#titlebar {
    background-color: #e6e9ef !important;
  }

  #zen-appcontent-navbar-container {
    background-color: #e6e9ef !important;
  }
}


/* Catppuccin Mocha Mauve userChrome.css*/

@media (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: #313244 !important;
    --zen-primary-color: #cba6f7 !important;
    --zen-colors-secondary: #313244 !important;
    --zen-colors-tertiary: #181825 !important;
    --zen-colors-border: #cba6f7 !important;
    --toolbarbutton-icon-fill: #cba6f7 !important;
    --lwt-text-color: #cdd6f4 !important;
    --toolbar-field-color: #cdd6f4 !important;
    --tab-selected-textcolor: rgb(204, 190, 246) !important;
    --toolbar-field-focus-color: #cdd6f4 !important;
    --toolbar-color: #cdd6f4 !important;
    --newtab-text-primary-color: #cdd6f4 !important;
    --arrowpanel-color: #cdd6f4 !important;
    --arrowpanel-background: #1e1e2e !important;
    --sidebar-text-color: #cdd6f4 !important;
    --lwt-sidebar-text-color: #cdd6f4 !important;
    --lwt-sidebar-background-color: #11111b !important;
    --toolbar-bgcolor: #313244 !important;
    --newtab-background-color: #1e1e2e !important;
    --zen-themed-toolbar-bg: #181825 !important;
    --zen-main-browser-background: #181825 !important;
    --toolbox-bgcolor-inactive: #181825 !important;
  }

  #permissions-granted-icon {
    color: #181825 !important;
  }

  .sidebar-placesTree {
    background-color: #1e1e2e !important;
  }

  #zen-workspaces-button {
    background-color: #1e1e2e !important;
  }

  #TabsToolbar {
    background-color: #181825 !important;
  }

  .urlbar-background {
    background-color: #1e1e2e !important;
  }

  .content-shortcuts {
    background-color: #1e1e2e !important;
    border-color: #cba6f7 !important;
  }

  .urlbarView-url {
    color: #cba6f7 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #11111b !important;
  }

  #zen-media-controls-toolbar {
    & #zen-media-progress-bar {
      &::-moz-range-track {
        background: #313244 !important;
      }
    }
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {

      &:is([open], [checked])> :is(.toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack) {
        fill: #11111b;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #89b4fa !important;
    --identity-icon-color: #89b4fa !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #94e2d5 !important;
    --identity-icon-color: #94e2d5 !important;
  }

  .identity-color-green {
    --identity-tab-color: #a6e3a1 !important;
    --identity-icon-color: #a6e3a1 !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #f9e2af !important;
    --identity-icon-color: #f9e2af !important;
  }

  .identity-color-orange {
    --identity-tab-color: #fab387 !important;
    --identity-icon-color: #fab387 !important;
  }

  .identity-color-red {
    --identity-tab-color: #f38ba8 !important;
    --identity-icon-color: #f38ba8 !important;
  }

  .identity-color-pink {
    --identity-tab-color: #f5c2e7 !important;
    --identity-icon-color: #f5c2e7 !important;
  }

  .identity-color-purple {
    --identity-tab-color: #cba6f7 !important;
    --identity-icon-color: #cba6f7 !important;
  }

  hbox#titlebar {
    background-color: #181825 !important;
  }

  #zen-appcontent-navbar-container {
    background-color: #181825 !important;
  }
}
