# dependency managers
pdm
poetry

# REPL
bpython
ipython
euporie

# FP
awesome-pattern-matching
returns

# DI
dependency-injector

# formatters
black  # code formatter
isort  # imports formatter
pyupgrade  # syntax formatter
nbqa  # notebooks formatter

# linters
ansible-lint  # playbooks linter
codespell  # spelling linter
deptry  # dependencies linter
dotenv-linter  # linter for .env files
gitlint  # git commit messages linter
memestra  # dead code linter
mypy  # static type checker
ruff  # all-purpose linter
sqlfluff  # SQL linter

# utils
devtools  # debugger
nitpick  # styles manager
pre-commit  # hooks
cookiecutter  # templates manager

# LSP
python-lsp-server
ruff-lsp

# LSP plugins
pyls-isort
pyls-memestra
pylsp-mypy
python-lsp-black

# tests
pytest
xdoctest

# pytest plugins
coverage
pytest-codeblocks
pytest-cov
pytest-lazy-fixture
pytest-mock
pytest-sugar

# ML
jupysql
jupyter
jupyterlab
matplotlib
pandas
polars
seaborn

# jupyter plugins
catppuccin-jupyterlab

# DB
duckdb
duckdb-engine
sqlalchemy
