# =============================================================================================
# REPLs
# =============================================================================================

ipython
jupyter
jupyterlab
catppuccin-jupyterlab

# =============================================================================================
# LSPs
# =============================================================================================

python-lsp-server[all]
ruff-lsp

# =============================================================================================
# LSP plugins
# =============================================================================================

pyls-memestra
pylsp-mypy
pylsp-rope
python-lsp-black
python-lsp-isort

# =============================================================================================
# Formatters
# =============================================================================================

black
isort
nbqa
pyupgrade

# =============================================================================================
# Linters
# =============================================================================================

codespell
deptry
gitlint
memestra
mypy
ruff
sqlfluff
