[language-server.ruff]
command = "ruff"
args = ["server"]

[[language]]
name = "markdown"
soft-wrap.enable = true

[[language]]
name = "python"
auto-format = false
language-servers = ["ruff"]

[[language]]
name = "sql"
file-types = ["sql", "sql.j2", "ddl", "dml"]
scope = "source.sql"
