# lock the screen
alias afk="osascript -e 'tell app \"System Events\" to key code 12 using {control down, command down}'"

# use custom syntax highlighting
alias cat="bat --paging never --decorations never --plain"

# display local IP address
alias localip='ipconfig getifaddr en0'

# copy public key to clipboard
alias pubkey="cat ~/.ssh/id_rsa.pub | pbcopy | echo '=> Copied to pasteboard.'"

# =================================================
# ¯\_(ツ)_/¯
# =================================================

alias ld="lazydocker"

alias lg="lazygit"

alias ls="eza -a --level=1 --icons"

alias zj="zellij"
