# use custom syntax highlighting
alias cat="bat --paging never --decorations never --plain"

# display local IP address
alias localip='ipconfig getifaddr en0'

# copy public key to clipboard
alias pubkey="cat ~/.ssh/id_ed25519.pub | pbcopy | echo '=> Copied to the clipboard'"

# =================================================
# ¯\_(ツ)_/¯
# =================================================

alias ld="lazydocker"

alias lg="lazygit"

alias ls="eza -a --level=1 --icons --color=always"

alias zj="zellij"
