alias afk="osascript -e 'tell app \"System Events\" to key code 12 using {control down, command down}'"

alias cat="bat -p"

alias ld="lazydocker"

alias lg="lazygit"

alias localip='ipconfig getifaddr en0'

alias ls="eza -a --level=1 --icons"

alias pubkey="cat ~/.ssh/id_rsa.pub | pbcopy | echo '=> Copied to pasteboard.'"

alias zj="zellij"
