# `.exports` is used to provide custom variables

export XDG_CONFIG_HOME="$HOME/.config"

export EDITOR=hx
export VISUAL="$EDITOR"

GPG_TTY=$(tty)
export GPG_TTY

# =============================================================================================
# Shell
# =============================================================================================

eval "$(starship init zsh)"

# =============================================================================================
# Version managers
# =============================================================================================

export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

export NVM_DIR="$HOME/.nvm"
[ -s "/usr/local/opt/nvm/nvm.sh" ] && \. "/usr/local/opt/nvm/nvm.sh"
[ -s "/usr/local/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/usr/local/opt/nvm/etc/bash_completion.d/nvm"
export NODE_NO_WARNINGS=1

. "$HOME/.cargo/env"

eval "$(rbenv init -)"

# =============================================================================================
# REPLs
# =============================================================================================

export PYTHONBREAKPOINT="IPython.terminal.debugger.set_trace"

# =============================================================================================
# External misc
# =============================================================================================

export HOMEBREW_NO_ANALYTICS=1

export PATH=$PATH:$HOME/.spicetify
