# set XDG config home directory
export XDG_CONFIG_HOME="$HOME/.config"

# set default editor
export EDITOR=hx
# set visual editor to the same as default editor
export VISUAL="$EDITOR"

# get the current terminal and set it for GPG
GPG_TTY=$(tty)
export GPG_TTY

# =================================================
# Shell
# =================================================

# initialize `starship` prompt for zsh
eval "$(starship init zsh)"

# =================================================
# Package/Version Managers
# =================================================

# set `pyenv` root directory
export PYENV_ROOT="$HOME/.pyenv"
# add `pyenv` to PATH if not already present
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
# initialize `pyenv`
eval "$(pyenv init -)"

# disables statistics that `brew` collects
export HOMEBREW_NO_ANALYTICS=1

# =================================================
# REPLs
# =================================================

# set `IPython` as the default Python debugger
export PYTHONBREAKPOINT="IPython.terminal.debugger.set_trace"

# =================================================
# Misc
# =================================================

# add `spicetify` to PATH
export PATH=$PATH:$HOME/.spicetify
