# delete backup files
bakclean () {
  fd -H -e ".dotdropbak" -t f -x rm
  fd -H -e ".bak" -t f -x rm
}

# iterate over sub-directories and pull git repositories
rgp () {
  find . -name ".git" -type d | sed 's/\/.git//' | xargs -P10 -I{} sh -c 'git -C {} fetch --all && git -C {} pull'
}

# load `.env` file from a filename passed as an argument
loadenv () {
  while read line; do
    if [ "${line:0:1}" = '#' ]; then
      continue  # ignore comments
    fi
    export $line > /dev/null
  done < "$1"
  echo "Loaded"
}

# show pretty `man` page
man () {
  env \
    LESS_TERMCAP_mb=$(printf '\e[1;31m') \
    LESS_TERMCAP_md=$(printf '\e[1;31m') \
    LESS_TERMCAP_me=$(printf '\e[0m') \
    LESS_TERMCAP_se=$(printf '\e[0m') \
    LESS_TERMCAP_so=$(printf '\e[1;44;33m') \
    LESS_TERMCAP_ue=$(printf '\e[0m') \
    LESS_TERMCAP_us=$(printf '\e[1;32m') \
      man "$@"
}

# activate environment via `pdm shell`
pdm () {
    local command=$1
    if [[ $command == "shell" ]]; then
        eval $(pdm venv activate)
    else
        command pdm $@
    fi
}
