# `.functions` provides helper functions for the shell

# iterate over directories and pulls git repositories
rgp () {
  find . -name ".git" -type d | sed 's/\/.git//' |  xargs -P10 -I{} git -C {} pull
}

# delete Python cache directories
pyclean () {
  find . \
    | grep -E '(__pycache__|\.(mypy_)?cache|\.hypothesis\.py[cod]|\.(pytest_)?cache|\.ropeproject|\.ruff_cache|\.(ipynb_)?checkpoints$)' \
    | xargs rm -rf
}

# delete merged branches locally and remotely
gitclean () {
  git branch --merged | grep -v '\*\|master\|main\|develop' | xargs -n 1 git branch -d
  git branch -r --merged | grep -v '\*\|master\|main\|develop' | sed 's/origin\///' | xargs -n 1 git push --delete origin
  git fetch -p
}

# delete backup files
bakclean () {
  find . -name "*.*.dotdropbak" -type f -delete
}

# cd into whatever is the forefront Finder window
cdf () {
  local path=$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')
  echo "$path"
  cd "$path"
}

# activate venv via `pdm shell`
pdm() {
    local command=$1
    if [[ $command == "shell" ]]; then
        eval $(pdm venv activate)
    else
        command pdm $@
    fi
}

# find a match in files and open them
run_find_in_files() { find_in_files; }
zle -N run_find_in_files

# find files and open them
run_find_files() { find_files; }
zle -N run_find_files
