// =================================================
// Misc
// =================================================

// Disable sessions serialization to the cache folder
session_serialization false
// Enable mouse support
mouse_mode true

// =================================================
// Theme
// =================================================

// Set custom theme
theme "catppuccin-mocha"
// Set a minimalistic UI (without any arrows and frames)
simplified_ui true

// =================================================
// Keybindings
// =================================================

keybinds {
  shared_except "locked" {
    bind "Ctrl h" {
      LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zjforgot.wasm" {
        "lock"                  "ctrl + g"
        "unlock"                "ctrl + g"
        "new pane"              "ctrl + p + n"
        "change focus of pane"  "ctrl + p + arrow key"
        "close pane"            "ctrl + p + x"
        "rename pane"           "ctrl + p + c"
        "toggle fullscreen"     "ctrl + p + f"
        "toggle floating pane"  "ctrl + p + w"
        "toggle embed pane"     "ctrl + p + e"
        "choose right pane"     "ctrl + p + l"
        "choose left pane"      "ctrl + p + r"
        "choose upper pane"     "ctrl + p + k"
        "choose lower pane"     "ctrl + p + j"
        "new tab"               "ctrl + t + n"
        "close tab"             "ctrl + t + x"
        "change focus of tab"   "ctrl + t + arrow key"
        "rename tab"            "ctrl + t + r"
        "sync tab"              "ctrl + t + s"
        "brake pane to new tab" "ctrl + t + b"
        "brake pane left"       "ctrl + t + ["
        "brake pane right"      "ctrl + t + ]"
        "toggle tab"            "ctrl + t + tab"
        "increase pane size"    "ctrl + n + +"
        "decrease pane size"    "ctrl + n + -"
        "increase pane top"     "ctrl + n + k"
        "increase pane right"   "ctrl + n + l"
        "increase pane bottom"  "ctrl + n + j"
        "increase pane left"    "ctrl + n + h"
        "decrease pane top"     "ctrl + n + K"
        "decrease pane right"   "ctrl + n + L"
        "decrease pane bottom"  "ctrl + n + J"
        "decrease pane left"    "ctrl + n + H"
        "move pane to top"      "ctrl + h + k"
        "move pane to right"    "ctrl + h + l"
        "move pane to bottom"   "ctrl + h + j"
        "move pane to left"     "ctrl + h + h"
        "search"                "ctrl + s + s"
        "go into edit mode"     "ctrl + s + e"
        "detach session"        "ctrl + o + w"
        "open session manager"  "ctrl + o + w"
        "quit zellij"           "ctrl + q"
        floating true
      }
    }
  }
}
