/* Catppuccin Latte Peach + Frappe Peach userContent.css*/

/* Catppuccin Latte Peach userContent.css*/

@media (prefers-color-scheme: light) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #4c4f69 !important;
      --color-accent-primary: #fe640b !important;
      --color-accent-primary-hover: rgb(254, 117, 38) !important;
      --color-accent-primary-active: rgb(254, 161, 12) !important;
      background-color: #eff1f5 !important;
      --in-content-page-background: #eff1f5 !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #eff1f5 !important;
      --newtab-background-color-secondary: #ccd0da !important;
      --newtab-element-hover-color: #ccd0da !important;
      --newtab-text-primary-color: #4c4f69 !important;
      --newtab-wordmark-color: #4c4f69 !important;
      --newtab-primary-action-background: #fe640b !important;
    }

    .icon {
      color: #fe640b !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-latte.svg"), url("https://raw.githubusercontent.com/IAmJafeth/zen-browser/main/themes/Latte/Peach/zen-logo-latte.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #fe640b !important;
    }

    .top-site-outer .search-topsite {
      background-color: #1e66f5 !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #40a02b !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #e6e9ef !important;
      --in-content-text-color: #4c4f69 !important;
      --link-color: #fe640b !important;
      --link-color-hover: rgb(254, 117, 38) !important;
      --zen-colors-primary: #ccd0da !important;
      --in-content-box-background: #ccd0da !important;
      --zen-primary-color: #fe640b !important;
    }

    groupbox,
    moz-card {
      background: #eff1f5 !important;
    }

    button,
    groupbox menulist {
      background: #ccd0da !important;
      color: #4c4f69 !important;
    }

    .main-content {
      background-color: #dce0e8 !important;
    }

    .identity-color-blue {
      --identity-tab-color: #8aadf4 !important;
      --identity-icon-color: #8aadf4 !important;
    }

    .identity-color-turquoise {
      --identity-tab-color: #8bd5ca !important;
      --identity-icon-color: #8bd5ca !important;
    }

    .identity-color-green {
      --identity-tab-color: #a6da95 !important;
      --identity-icon-color: #a6da95 !important;
    }

    .identity-color-yellow {
      --identity-tab-color: #eed49f !important;
      --identity-icon-color: #eed49f !important;
    }

    .identity-color-orange {
      --identity-tab-color: #f5a97f !important;
      --identity-icon-color: #f5a97f !important;
    }

    .identity-color-red {
      --identity-tab-color: #ed8796 !important;
      --identity-icon-color: #ed8796 !important;
    }

    .identity-color-pink {
      --identity-tab-color: #f5bde6 !important;
      --identity-icon-color: #f5bde6 !important;
    }

    .identity-color-purple {
      --identity-tab-color: #c6a0f6 !important;
      --identity-icon-color: #c6a0f6 !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #e6e9ef !important;
      --background-color-box: #eff1f5 !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #eff1f5 !important;
      --social-color: #8839ef !important;
      --coockie-color: #04a5e5 !important;
      --fingerprinter-color: #df8e1d !important;
      --cryptominer-color: #7287fd !important;
      --tracker-color: #40a02b !important;
      --in-content-primary-button-background-hover: rgb(203, 206, 215) !important;
      --in-content-primary-button-text-color-hover: #4c4f69 !important;
      --in-content-primary-button-background: #bcc0cc !important;
      --in-content-primary-button-text-color: #4c4f69 !important;
    }


    .card {
      background-color: #ccd0da !important;
    }
  }
}


/* Catppuccin Frappe Peach userContent.css*/

@media (prefers-color-scheme: dark) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #c6d0f5 !important;
      --color-accent-primary: #ef9f76 !important;
      --color-accent-primary-hover: rgb(242, 175, 142) !important;
      --color-accent-primary-active: rgb(239, 189, 119) !important;
      background-color: #303446 !important;
      --in-content-page-background: #303446 !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #303446 !important;
      --newtab-background-color-secondary: #414559 !important;
      --newtab-element-hover-color: #414559 !important;
      --newtab-text-primary-color: #c6d0f5 !important;
      --newtab-wordmark-color: #c6d0f5 !important;
      --newtab-primary-action-background: #ef9f76 !important;
    }

    .icon {
      color: #ef9f76 !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-frappe.svg"), url("https://raw.githubusercontent.com/IAmJafeth/zen-browser/main/themes/Frappe/Peach/zen-logo-frappe.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #ef9f76 !important;
    }

    .top-site-outer .search-topsite {
      background-color: #8caaee !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #a6d189 !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #292c3c !important;
      --in-content-text-color: #c6d0f5 !important;
      --link-color: #ef9f76 !important;
      --link-color-hover: rgb(242, 175, 142) !important;
      --zen-colors-primary: #414559 !important;
      --in-content-box-background: #414559 !important;
      --zen-primary-color: #ef9f76 !important;
    }

    groupbox,
    moz-card {
      background: #303446 !important;
    }

    button,
    groupbox menulist {
      background: #414559 !important;
      color: #c6d0f5 !important;
    }

    .main-content {
      background-color: #232634 !important;
    }

    .identity-color-blue {
      --identity-tab-color: #8aadf4 !important;
      --identity-icon-color: #8aadf4 !important;
    }

    .identity-color-turquoise {
      --identity-tab-color: #8bd5ca !important;
      --identity-icon-color: #8bd5ca !important;
    }

    .identity-color-green {
      --identity-tab-color: #a6da95 !important;
      --identity-icon-color: #a6da95 !important;
    }

    .identity-color-yellow {
      --identity-tab-color: #eed49f !important;
      --identity-icon-color: #eed49f !important;
    }

    .identity-color-orange {
      --identity-tab-color: #f5a97f !important;
      --identity-icon-color: #f5a97f !important;
    }

    .identity-color-red {
      --identity-tab-color: #ed8796 !important;
      --identity-icon-color: #ed8796 !important;
    }

    .identity-color-pink {
      --identity-tab-color: #f5bde6 !important;
      --identity-icon-color: #f5bde6 !important;
    }

    .identity-color-purple {
      --identity-tab-color: #c6a0f6 !important;
      --identity-icon-color: #c6a0f6 !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #292c3c !important;
      --background-color-box: #303446 !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #303446 !important;
      --social-color: #ca9ee6 !important;
      --coockie-color: #99d1db !important;
      --fingerprinter-color: #e5c890 !important;
      --cryptominer-color: #babbf1 !important;
      --tracker-color: #a6d189 !important;
      --in-content-primary-button-background-hover: rgb(92, 99, 124) !important;
      --in-content-primary-button-text-color-hover: #c6d0f5 !important;
      --in-content-primary-button-background: #51576d !important;
      --in-content-primary-button-text-color: #c6d0f5 !important;
    }


    .card {
      background-color: #414559 !important;
    }
  }
}
