/* Catppuccin Latte Teal + Mocha Teal userContent.css*/

/* Catppuccin Latte Teal userContent.css*/

@media (prefers-color-scheme: light) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #4c4f69 !important;
      --color-accent-primary: #179299 !important;
      --color-accent-primary-hover: rgb(27, 168, 175) !important;
      --color-accent-primary-active: rgb(23, 114, 153) !important;
      background-color: #eff1f5 !important;
      --in-content-page-background: #eff1f5 !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #eff1f5 !important;
      --newtab-background-color-secondary: #ccd0da !important;
      --newtab-element-hover-color: #ccd0da !important;
      --newtab-text-primary-color: #4c4f69 !important;
      --newtab-wordmark-color: #4c4f69 !important;
      --newtab-primary-action-background: #179299 !important;
    }

    .icon {
      color: #179299 !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-latte.svg"), url("https://raw.githubusercontent.com/IAmJafeth/zen-browser/main/themes/Latte/Teal/zen-logo-latte.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #179299 !important;
    }

    .top-site-outer .search-topsite {
      background-color: #1e66f5 !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #40a02b !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #e6e9ef !important;
      --in-content-text-color: #4c4f69 !important;
      --link-color: #179299 !important;
      --link-color-hover: rgb(27, 168, 175) !important;
      --zen-colors-primary: #ccd0da !important;
      --in-content-box-background: #ccd0da !important;
      --zen-primary-color: #179299 !important;
    }

    groupbox,
    moz-card {
      background: #eff1f5 !important;
    }

    button,
    groupbox menulist {
      background: #ccd0da !important;
      color: #4c4f69 !important;
    }

    .main-content {
      background-color: #dce0e8 !important;
    }

    .identity-color-blue {
      --identity-tab-color: #8aadf4 !important;
      --identity-icon-color: #8aadf4 !important;
    }

    .identity-color-turquoise {
      --identity-tab-color: #8bd5ca !important;
      --identity-icon-color: #8bd5ca !important;
    }

    .identity-color-green {
      --identity-tab-color: #a6da95 !important;
      --identity-icon-color: #a6da95 !important;
    }

    .identity-color-yellow {
      --identity-tab-color: #eed49f !important;
      --identity-icon-color: #eed49f !important;
    }

    .identity-color-orange {
      --identity-tab-color: #f5a97f !important;
      --identity-icon-color: #f5a97f !important;
    }

    .identity-color-red {
      --identity-tab-color: #ed8796 !important;
      --identity-icon-color: #ed8796 !important;
    }

    .identity-color-pink {
      --identity-tab-color: #f5bde6 !important;
      --identity-icon-color: #f5bde6 !important;
    }

    .identity-color-purple {
      --identity-tab-color: #c6a0f6 !important;
      --identity-icon-color: #c6a0f6 !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #e6e9ef !important;
      --background-color-box: #eff1f5 !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #eff1f5 !important;
      --social-color: #8839ef !important;
      --coockie-color: #04a5e5 !important;
      --fingerprinter-color: #df8e1d !important;
      --cryptominer-color: #7287fd !important;
      --tracker-color: #40a02b !important;
      --in-content-primary-button-background-hover: rgb(203, 206, 215) !important;
      --in-content-primary-button-text-color-hover: #4c4f69 !important;
      --in-content-primary-button-background: #bcc0cc !important;
      --in-content-primary-button-text-color: #4c4f69 !important;
    }


    .card {
      background-color: #ccd0da !important;
    }
  }
}


/* Catppuccin Mocha Teal userContent.css*/

@media (prefers-color-scheme: dark) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #cdd6f4 !important;
      --color-accent-primary: #94e2d5 !important;
      --color-accent-primary-hover: rgb(169, 231, 221) !important;
      --color-accent-primary-active: rgb(148, 219, 226) !important;
      background-color: #1e1e2e !important;
      --in-content-page-background: #1e1e2e !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #1e1e2e !important;
      --newtab-background-color-secondary: #313244 !important;
      --newtab-element-hover-color: #313244 !important;
      --newtab-text-primary-color: #cdd6f4 !important;
      --newtab-wordmark-color: #cdd6f4 !important;
      --newtab-primary-action-background: #94e2d5 !important;
    }

    .icon {
      color: #94e2d5 !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-mocha.svg"), url("https://raw.githubusercontent.com/IAmJafeth/zen-browser/main/themes/Mocha/Teal/zen-logo-mocha.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #94e2d5 !important;
    }

    .top-site-outer .search-topsite {
      background-color: #89b4fa !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #a6e3a1 !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #181825 !important;
      --in-content-text-color: #cdd6f4 !important;
      --link-color: #94e2d5 !important;
      --link-color-hover: rgb(169, 231, 221) !important;
      --zen-colors-primary: #313244 !important;
      --in-content-box-background: #313244 !important;
      --zen-primary-color: #94e2d5 !important;
    }

    groupbox,
    moz-card {
      background: #1e1e2e !important;
    }

    button,
    groupbox menulist {
      background: #313244 !important;
      color: #cdd6f4 !important;
    }

    .main-content {
      background-color: #11111b !important;
    }

    .identity-color-blue {
      --identity-tab-color: #8aadf4 !important;
      --identity-icon-color: #8aadf4 !important;
    }

    .identity-color-turquoise {
      --identity-tab-color: #8bd5ca !important;
      --identity-icon-color: #8bd5ca !important;
    }

    .identity-color-green {
      --identity-tab-color: #a6da95 !important;
      --identity-icon-color: #a6da95 !important;
    }

    .identity-color-yellow {
      --identity-tab-color: #eed49f !important;
      --identity-icon-color: #eed49f !important;
    }

    .identity-color-orange {
      --identity-tab-color: #f5a97f !important;
      --identity-icon-color: #f5a97f !important;
    }

    .identity-color-red {
      --identity-tab-color: #ed8796 !important;
      --identity-icon-color: #ed8796 !important;
    }

    .identity-color-pink {
      --identity-tab-color: #f5bde6 !important;
      --identity-icon-color: #f5bde6 !important;
    }

    .identity-color-purple {
      --identity-tab-color: #c6a0f6 !important;
      --identity-icon-color: #c6a0f6 !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #181825 !important;
      --background-color-box: #1e1e2e !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #1e1e2e !important;
      --social-color: #cba6f7 !important;
      --coockie-color: #89dceb !important;
      --fingerprinter-color: #f9e2af !important;
      --cryptominer-color: #b4befe !important;
      --tracker-color: #a6e3a1 !important;
      --in-content-primary-button-background-hover: rgb(81, 83, 105) !important;
      --in-content-primary-button-text-color-hover: #cdd6f4 !important;
      --in-content-primary-button-background: #45475a !important;
      --in-content-primary-button-text-color: #cdd6f4 !important;
    }


    .card {
      background-color: #313244 !important;
    }
  }
}
