# REPL
ipython

# ipython plugins
catppuccin
catppuccin[pygments]

# LSPs
python-lsp-server[all]
ruff-lsp

# pylsp plugins
pyls-memestra
pylsp-mypy
pylsp-rope
python-lsp-black
python-lsp-isort

# formatters
black
isort
nbqa
pyupgrade

# linters
ansible-lint
codespell
deptry
gitlint
memestra
mypy
ruff
sqlfluff
