k9s:
  apiServerTimeout: 15s
  defaultView: ""
  liveViewAutoRefresh: false
  maxConnRetry: 5
  noExitOnCtrlC: false
  readOnly: false
  refreshRate: 2
  screenDumpDir: /tmp/dumps

  logger:
    buffer: 500
    disableAutoscroll: false
    showTime: false
    sinceSeconds: 300
    tail: 200
    textWrap: false

  shellPod:
    hostPathVolume:
      - hostPath: /var/run/docker.sock
        mountPath: /var/run/docker.sock
        name: docker-socket
        readOnly: true
    image: killerAdmin
    limits:
      cpu: 100m
      memory: 100Mi
    namespace: default
    tty: true

  ui:
    crumbsless: false
    defaultsToFullScreen: false
    enableMouse: false
    headless: false
    logoless: false
    noIcons: false
    reactive: false
    skin: catppuccin_macchiato
    splashless: false
